name: Update README with recent GitHub activity

on:
  schedule:
    - cron: '15 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-activity:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Update recent GitHub activity
        uses: jamesgeorge007/github-activity-readme@v0.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}